@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Yanone+Kaffeesatz:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

img {
    height: 200px;
}

.is-grid {
    display: grid;
    gap: 45px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.item4 {
    grid-column-start: 4;
    grid-column-end: 5;
}

a {
    color: rgb(6, 95, 86)
}

h1 {
    color:rgb(6, 124, 81);
    font-family: 'Work Sans', sans-serif;

}

nav {
    background-color: rgb(255, 85, 0);
    padding: 16px;
    box-shadow: 10px 5px 5px rgb(226, 53, 9);
}

.navlink {
    color: whitesmoke;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a:link {
    text-decoration: none;
}

footer {
    padding: 20px;
    background-color: rgb(165, 206, 103);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

 .ingredients-table tr:nth-child(even) {
    background-color: rgb(224, 219, 219);
}

h3 > a:hover {
    color:rgb(7, 46, 84)
}

